<a class="thumbnailLink media" data-link="href{:linkUrl}" onclick="Pb.Track.tr('');" href="http://media.photobucket.com/user/muhammadtahya/media/loeber.gif.html?filters[term]=running%20building&amp;filters[primary]=images&amp;sort=1&amp;o=110">
  <img data-link="src{:thumbUrl} alt{:alt}" src="http://rs824.pbsrc.com/albums/zz167/muhammadtahya/loeber.gif~c200" alt="running building photo: running men loeber.gif">

  <div class="thumbnailOverlay"></div>
</a>

<%= @start_time %>

<%= link_to 'Still Time?', demolished_building_path %>